{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RUBY</title>
    <link rel="stylesheet" href="{% static 'ruby/home_styles/index.css' %}">
</head>
<body>
<nav class="top_nav" style="background-color: #3682AE;">
    <div class="nav_topic">
{#        <i style="color:#102036;">RUBY-X</i>#}
        <img src="{% static 'ruby/home_styles/images/logo-transparent-png1.png' %}" style="height: 60px; width: auto; max-width: 100%;">
    </div>
    {% if login_status == False %}
    <div class="nav_auth">
        <div style="display: none" id="alert-specific">False</div>
        <div style="padding: 19px 15px;font-size: 20px;">
            <a href="{% url 'login' %}" style="color: #102036;text-decoration: none ; font-weight: bold;"><i>SIGNIN</i></a>
        </div>
        <div style="padding: 19px 15px;font-size: 20px;">
            <a href="{% url 'signup' %}" style="color: #102036;text-decoration: none ; font-weight: bold;"><i>SIGNUP</i></a>
        </div>
    </div>
        {% else %}
        <div style="display: none" id="alert-specific">True</div>
        <div style="display: flex;justify-content: end;">
            <div style="padding: 19px 15px;font-size: 20px;">
                <a href="" style="color: white;text-decoration: none ; font-weight: bold;"><i>{{ username }}</i></a>
            </div>
            <div style="padding: 19px 15px;font-size: 20px;">
                <a href="{% url 'logout' %}" style="color: #054864;text-decoration: none;font-weight: bold;"><i>LOGOUT</i></a>
            </div>
        </div>
    {% endif %}
</nav>



<div>
    <img src="{% static 'ruby/home_styles/images/logo-transparent-png.png' %}" alt="" class="home_image" width="30%"  style="position: relative;margin-top: 17%;margin-left: 37%">
</div>




<div class="message_box" id="division_box">
    <div class="message_selection">
        <div style="display: flex;width: 50%;height: 100%;">
            <div class="text_selector selector active" id="text_selector" onclick="change_session(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-quote-fill" viewBox="0 0 16 16" style="color: #054661">
  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg>
            </div>
            <div class="voice_selector selector" id="voice_selector" onclick="change_session(1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16" style="color: #054661">
  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
</svg>
            </div>
        </div>
    </div>
    <div style="width: 100%;height: 98%;padding: 10px" id="chat_area">
        <div class="recent_textarea" id="recent_textarea" style="width: 97%;height: 77%;overflow-y: scroll;margin-bottom: 14px;">
        </div>
        <div class="new_message" id="new_message" style="width: 95%;height: 8%;">
            <div style="width: 85%;height: 100%;overflow: hidden;border-radius: 17px 0px 0px 17px;">
                <input type="text" style="    width: 100%;font-family: monospace;height: 100%;border: none;background: aliceblue" id="text_context">
            </div>
            {% csrf_token %}
            <div style="width: 15%;height: 100%;border-radius: 0px 17px 17px 0px;" class="submit_message" onclick="sendMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16" style="margin: 13px 18px">
  <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z"/>
  <path d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z"/>
</svg>
            </div>

        </div>
        <div id="secondary" style="width: 97%;height: 65%;display: none;justify-content: center;margin-top: 20px;">
            <div style="width: 20px;height: 90%;display: flex;flex-direction: column;justify-content: space-between;">
                <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-emoji-smile-fill" id="emoji" viewBox="0 0 16 16" style="color: #17f818;background: #292b2c;border-radius: 22px;">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
</svg></div>
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-emoji-angry-fill" viewBox="0 0 16 16" id="emoji" style="color: #f81917;background: #292b2c;border-radius: 22px;">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.053 4.276a.5.5 0 0 1 .67-.223l2 1a.5.5 0 0 1 .166.76c.071.206.111.44.111.687C7 7.328 6.552 8 6 8s-1-.672-1-1.5c0-.408.109-.778.285-1.049l-1.009-.504a.5.5 0 0 1-.223-.67zm.232 8.157a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 1 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5 0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5z"/>
</svg>
                </div>
            </div>
            <div style="width: 41px;height: 90%;background-color: whitesmoke;margin-left: 10px;background: linear-gradient(to bottom,#39ea5b,#ffff67,#de2b2b);">
                <div style="width: 100%;height: 50%;border-bottom: 2px solid black;"></div>
            </div>
            <div style="width: 20px;height: 90%;display: flex;flex-direction: column;justify-content: space-between;margin-left: 5px;">
                <div>+1</div>
                <div>0</div>
                <div>-1</div>
            </div>

        </div>
        <div style="margin: 3px;width: 93%;height: 50px;background-color: rgb(200, 234, 138);display: none;padding: 5px;border-radius: 6px;font-family: monospace" id="alert_message">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
                <b>RUBY : </b>This chart is based on my analysis ,about how satisfied u r with me...(To chat with real time person u should have a polarity value less than -0.5...
            </div>
        <div style="display: none;justify-content: center;width: 100%" id="next_person">
            <button type="button" style="width: 106px;height: 40px;background-color: #f87017;padding: 0px;border-radius: 15px;margin-top: 10px;border: none;" id="move_on" >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16" style="    margin: 9px 39px;color: #054661">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
</svg>
            </button>
        </div>


    </div>


</div>

<footer class="footer_area">
    <div id="message_clicker" onclick="message_box()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16" style="margin: 8px;color:white;">
  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
    </div>
</footer>
</body>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<script>
    let flag=0;
    function message_box(){
        let docs=document.getElementById('alert-specific');
        if(docs.innerText=="False"){
            alert("Login for Using Ruby");
        }else{
            if (flag==0){
                let division=document.getElementById("division_box");
                division.style.display="block";
                flag=1;
            }else{
                let division=document.getElementById("division_box");
                division.style.display="none";
                flag=0;
            }

        }

    }
</script>
<script>
    let initial_message_count=0;
    $(document).ready(function(){
        setInterval(function() {
            $.ajax({
                type: 'GET',
                url: "getmessages",
                success: function (response) {
                    let count=0;
                     for (var key in response.messages){
                         count+=1;
                     }
                     if(count!=initial_message_count){
                         count=initial_message_count;
                         $("#recent_textarea").empty();
                         for(var key in response.messages){
                             let message_type=response.messages[key].message_type;
                             let message_text=response.messages[key].message;
                             let username=response.messages[key].username;
                             if (message_type=="bot"){
                                 var temp="<div style='width: 60%;background: #11cae8;min-height: 30px;border-radius: 30px;padding: 10px;font-family: monospace;margin-top: 10px;'><spam><b>RUBY : </b></spam>"+message_text+"</div>";
                             }else{
                                 var temp="<div style='width: 60%;background: #b091ff;min-height: 30px;border-radius: 30px;padding: 10px;font-family: monospace;margin-left: 30%;margin-top: 10px;'><spam><b>"+username+" : </b></spam>"+message_text+"</div>"
                             }
                             $("#recent_textarea").append(temp);
                         }

                     }
                },
                error: function (response) {
                    alert('An error occured')
                }
            });
        },1000);
    });
</script>

<script>
       function sendMessage(){
           let message =document.getElementById("text_context").value;

           $.ajax({
            type:'POST',
            url:'send_message',
               data:{
                  message:message,
                   username:"smaple",
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function(data){
                  console.log("sent");
              }
           });
           document.getElementById("text_context").value="";
       }
   </script>
<script>
    let initial_screen=0;
    function change_session(n){
        if(initial_screen==0 && n==1){
            var element = document.getElementById("voice_selector");
            element.classList.add("active");
            var element = document.getElementById("text_selector");
            element.classList.remove("active");
            let division=document.getElementById("recent_textarea");
            let result=document.getElementById("secondary");
            result.style.display="flex"
            division.style.display="none"
            let final=document.getElementById("new_message");
            final.style.display="none"
            document.getElementById("alert_message").style.display="block"
            document.getElementById("next_person").style.display="flex"

            initial_screen=1;
        }
        else if(initial_screen==1 && n==0){
            var element = document.getElementById("text_selector");
            element.classList.add("active");
            var element = document.getElementById("voice_selector");
            element.classList.remove("active");
            let division=document.getElementById("recent_textarea");
            let result=document.getElementById("secondary");
            result.style.display="none"
            division.style.display="block"
            let final=document.getElementById("new_message");
            final.style.display="flex"
            initial_screen=0;
            document.getElementById("alert_message").style.display="none"
            document.getElementById("next_person").style.display="none"

        }
    }
</script>
</html>


<style>
    #move_on:hover{
        cursor: grab;
    }

    #emoji{
        animation: 1s pop_up infinite;

    }
    @keyframes pop_up {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }

    .top_nav{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 60px;
        {#background-color: #f87017;#}
        display: flex;
        justify-content: space-between;
    }
    .nav_topic{
        {#padding: 7px 32px;#}
        {#font-size: 36px;#}
        {#font-family: fantasy;#}

    }
    ::-webkit-scrollbar {
    display: none;
}
    .new_message{
        display: flex;
    }
    .nav_auth{
        display: flex;
        justify-content: end;
    }
    .footer_area{
        position: fixed;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    #message_clicker{
        width: 45px;
        height: 45px;
        {#background: #f87017;#}
        background: #3682AE;
        margin: 16px;
        padding: 10px;
        border-radius: 50px;
        transition: 0.2s;
    }
    #message_clicker:hover{
        cursor: grab;
        box-shadow: 2px 2px 10px black;
    }

    .message_box{
        display: none;
        transition: 1s;

        box-shadow: 1px 1px 19px 0px black;
        border-radius: 11px;
        overflow: hidden;
        position: fixed;
        right:50px;
        bottom: 50px;
        width: 450px;
        height: 600px;
        background: #054864;
        z-index: 1;

    }
    .message_selection{
        width: 100%;
        height: 50px;
        background: #f87017;
    }
    .selector{
            width: 50%;
        height: 68%;
        background: #f87017;
        text-align: center;
        padding-top: 16px;

    }
    .selector:hover{
        background: #f56b14;
        border-bottom: 4px solid black;
        height: 62%;
        cursor: grab;
    }
    .active{
        border-bottom: 4px solid black;
        height: 62%;

    }
    .submit_message{
        background: #f56b14;
        color: aliceblue;
    }
    .submit_message:hover{
        color: #f56b14;
        background: whitesmoke;
        cursor: grab;
    }


</style>